* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  min-height: 100vh;
}
.container{
  max-width: 1520px;
  width: 100%;
}


